div.activateContainer {
  background-color: white;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 30px;
  padding-left: 20px;
  margin-top: 40px;
  border-radius: 5px;
  text-align: center
}

div.activateContainerWrapper {
  margin-left: 0px;
  margin-right: 0px
}

div.countdownSlot {
  text-align: center;
}

p.activateMessage {
  padding-top: 10px;
  padding-bottom: 20px
}

form.activateForm {
  margin-top: 50px;
  padding-left: 20px;
  padding-right: 20px
}

a.actionButton, button.actionButton {
  background-color: #2584b2
}

.actionButton:hover {
  background-color: #2584b2
}

button.submit {
  margin-top: 30px
}

nav {
  background-color: #ffffff
}

body {
  background-color: #F2F3F4
}

html.fullScreenBackground {
  background: url(../img/background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

img.social {
  width: 35px;
  height: 35px;
  border: 0;
  opacity: 0.75;
}

img.social.middle {
  margin-left: 5px;
  margin-right: 5px;
}
