@font-face {
    font-family: 'ClockFont';
    src: url(../fonts/Existence-Light.otf);
}

div.countdownContainer {
  width: 90%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

div.subtitleContainer {
  margin-top: -10px;
  margin-bottom: 40px;
}

div.followTitleContainer {
  margin-top: 70px;
  margin-bottom: 10px;
}

span.countdownNumber {
  color: rgba(255, 255, 255, 0.80);
  font-size: 40pt;
  font-family: 'ClockFont';
  font-weight: bold;
}

span.countdownText {
  color: rgba(255, 255, 255, 0.5);
  font-size: 10pt;
  font-family: 'ClockFont';
}

span.title {
  font-family: 'ClockFont';
  font-size: 20pt;
  color: rgba(255, 255, 255, 0.80);
}

span.subtitle {
  font-family: 'ClockFont';
  font-size: 8pt;
  color: rgba(255, 255, 255, 0.6);
}

span.socialTitle {
  font-family: 'ClockFont';
  font-size: 13pt;
  color: rgba(255, 255, 255, 0.6);
}

@media (min-width:600px) {
  div.countdownContainer {
    width: 80%;
  }

  span.countdownNumber {
    font-size: 60pt;
  }

  span.countdownText {
    font-size: 12pt;
  }

  span.title {
    font-size: 30pt;
  }

  span.subtitle {
    font-size: 10pt;
  }
}

@media (min-width:1024px) {
  div.countdownContainer {
    width: 700px;
  }

  span.countdownNumber {
    font-size: 60pt;
  }

  span.countdownText {
    font-size: 14pt;
  }

  span.title {
    font-size: 38pt;
  }

  span.subtitle {
    font-size: 13pt;
  }
}

@media (min-width:1500px) {
  div.countdownContainer {
    width: 800px;
  }

  span.countdownNumber {
    font-size: 70pt;
  }

  span.countdownText {
    font-size: 20pt;
  }

  span.title {
    font-size: 45pt;
  }

  span.subtitle {
    font-size: 20pt;
  }

  div.subtitleContainer {
    margin-bottom: 50px;
  }

  div.followTitleContainer {
    margin-top: 80px;
  }
}
