<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/GraffiTab-Backend/src/main/java/com/graffitab/server/GraffitabApplication.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<mapAttribute key="org.eclipse.debug.core.environmentVariables">
<mapEntry key="AWS_ACCESS_KEY" value="AKIAITC53IKFIY54HPOA"/>
<mapEntry key="AWS_SECRET_KEY" value="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"/>
</mapAttribute>
<booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.graffitab.server.GraffitabApplication"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="--spring.config.location=conf/application.properties"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="GraffiTab-Backend"/>
</launchConfiguration>
