<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=8" />

    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css"
          media="screen,projection" />

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link rel="shortcut icon" th:href="@{/public/img/favicon.ico}" type="image/x-icon"/>
    <link rel="icon" th:href="@{/public/img/favicon.ico}" type="image/x-icon"/>

    <title>GraffiTab</title>

    <style>

    </style>
</head>
<body style="background-color: #F2F3F4">

<nav style="background-color: #ffffff">
    <div class="nav-wrapper">
        <a href="#" class="brand-logo center"><img valign="middle" style="margin-bottom: 3px" src="/public/img/header_logo.png"></img></a>
    </div>
</nav>

  <div align="center">
      <div style="display: inline-block; background-color: white; padding-top: 20px; padding-right: 20px; padding-bottom: 30px; padding-left: 20px; margin-top: 40px; border-radius: 5px; max-width: 500px">
          <h4 th:text="#{account.activateFailure}">Account failed to activate</h4>
          <p style="padding-top: 10px; padding-bottom: 20px"><font size="4" color="#a0a0a0" th:text="#{account.activateFailure.text}">We could not activate your account. Please contact support to report this issue.</font></p>
          <a class="waves-effect waves-light btn-large" th:text="#{account.activateFailure.buttonText}" href="mailto:support@graffitab.com">Contact support</a>
      </div>
  </div>

<!-- Compiled and minified JavaScript -->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"><!-- aa --></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"><!-- ss --></script>

</body>
</html>
