<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=8" />

  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>

  <!-- Compiled and minified CSS -->
  <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css"
        media="screen,projection" />
  <link rel="stylesheet" th:href="@{/public/css/graffitab-server.css}" href="../public/css/graffitab-server.css" />

  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  <link rel="shortcut icon" th:href="@{/public/img/favicon.ico}" href="../public/img/favicon.ico" type="image/x-icon"/>
  <link rel="icon" th:href="@{/public/img/favicon.ico}" href="../public/img/favicon.ico" type="image/x-icon"/>

  <title>GraffiTab</title>

  <!-- Google Analytics -->
  <script>
  	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	 })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	ga('create', 'UA-79951684-2', 'auto');
	ga('send', 'pageview');
  </script>
</head>
<body>

<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo center"><img valign="middle" style="margin-bottom: 3px" th:src="@{/public/img/header_logo.png}" src="../public/img/header_logo.png"></img></a>
  </div>
</nav>

<div class="activateContainerWrapper">
  <div class="row">
    <div class="col s1 l4 m3">&nbsp;
    </div>
    <div class="col s10 l4 m6">
      <div class="activateContainer">
        <h4 th:text="#{passwordReset.success.title}">Password reset</h4>
        <p class="activateMessage"><font th:text="#{passwordReset.success.text}" size="4" color="#a0a0a0">Your password was reset successfully and you can now login to GraffiTab.</font></p>
        <a class="waves-effect waves-light btn-large actionButton" th:text="#{passwordReset.success.buttonText}" href="#" onclick="getStarted()">Get Started</a>
      </div>
    </div>
    <div class="col s1 l4 m3">&nbsp;
    </div>
  </div>
</div>

<!-- Compiled and minified JavaScript -->
<script type="text/javascript" th:src="@{/public/deep-link.js}" src="../public/deep-link.js"><!-- aa --></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"><!-- aa --></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"><!-- ss --></script>

</body>
</html>
